<div>
    <div id="schedule-list-item">
        <li class="row-fluid scheduled-game">
            <div class="span1 date">{{= Date.toString("MMM d") }}</div>
            <div class="span1">{{= Date.toString("h:mm tt") }}</div>
            <div class="span2">{{= Home.HomeField }}</div>
            <div class="span3">
                <span class="team-name">{{= Home.Name }}</span>
                 vs. 
                <span class="team-name">{{= Visitor.Name }}</span>
            </div>
        </li>
    </div>
    <div id="week-view">
        <ul>

        </ul>
    </div>
    <ul>
        <li id="day-view">
            {{= get('Date').toString() }}
        </li>
    </ul>

    <ul id="team-filter-item">
        <li>
            <a href="#" class="team-filter" data-id="{{= Id }}" data-toggle="dropdown">{{= Name }}</a>
        </li>
    </ul>
    <div id="toolbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">                        
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#" class="view">List</a>
                    </li>
                    <li>
                        <a href="#" class="view">Day</a>
                    </li>
                    <li>
                        <a href="#" class="view">Week</a>
                    </li>
                    <li>
                        <a href="#" class="view">Month</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="current-team-filter">All Teams</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="teams dropdown-menu"></ul>
                    </li>
                </ul>
                <ul class="nav pull-right">                            
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            More
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="btn btn-danger btn-block">Reset Data</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>