.page-header, .links
{
    border-bottom: solid 10px #ce3000;
}
.links
{
    padding-bottom: 25px;
}
.menu
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu a
{
    display: block;
    width: 200px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 13pt;
    background-color: #ce3000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.links a,.links a img, .links a h1
{
    display: block;
}
.links img
{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.links a h1
{
    text-align: center;
    color: #000000 ;
    font-size: 48px;
}
.links a:hover
{
    text-decoration: none;
}
.links a
{
    border: solid 5px transparent;
    padding-bottom: 10px;
    padding-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.links .devices a:hover
{
    border-color: #00137f;
}
.links .processes a:hover
{
    border-color: #007f0e;
}
.links .performance a:hover
{
    border-color: #ffd700;
}
.links .devices a:hover h1, #devices h1
{
    color: #00137f;
}
.links div.img
{
    background-image: url("../img/links.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.links .devices div.img
{
    background-position: 0 0;
}
.links .devices a:hover div
{
    background-position: -250px 0;
}
.links .processes div.img
{
    background-position: 0 -250px
}
.links .processes a:hover div
{
    background-position: -250px -250px;
}
.links .performance div.img
{
    background-position: 0 -500px
}
.links .performance a:hover div
{
    background-position: -250px -500px;
}
.links .processes a:hover h1, #processes h1
{
    color: #007f0e;
}   
.links .performance a:hover h1, #performance h1
{
    color: #ffd700;
}
section, .links, footer
{
    margin-top: 50px;
}
footer p
{
    border-top: solid 10px #ce3000;
    text-align: center;
    padding-top: 25px;
}

/* Canal Route Page */
.canal-route .img 
{
    width: 200px;
    height: 200px;
    background-image: url("../img/canal-route-med.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
}
.canal-route .labels .img
{
    background-position: -400px 0;
}
.canal-route .labels .hover
{
    background-position: -600px 0;
}
.canal-route .icons .img
{
    background-position: 0 0;
}
.canal-route .icons .hover
{
    background-position: -200px 0;
}
/* end Canal Route Page */

#devices h1, #processes h1, #performance h1, #labels h1, #icons h1 { color: #ce3000; }
/* phone */
@media (max-width: 767px) 
{
    .menu
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .menu a
    {
        font-size: 11pt;
        width: 100px;
    }
    .links
    {
        margin-top: 0;
    }
    .links a
    {
        margin-bottom: 0;
    }
    .links div.img
    {
        width: 100px;
        height: 100px;    
    }
    .links .devices div.img
    {
        background-position: -500px 0;
    }
    .links .devices a:hover div
    {
        background-position: -600px 0;
    }
    .links .processes div.img
    {
        background-position: -500px -100px
    }
    .links .processes a:hover div
    {
        background-position: -600px -100px;
    }
    .links .performance div.img
    {
        background-position: -500px -200px
    }
    .links .performance a:hover div
    {
        background-position: -600px -200px;
    }
    .links a
    {
        width: 125px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    .links a h1
    {
        font-size: 20px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 979px) 
{
    .links div.img
    {
        width: 200px;
        height: 200px;    
    }
    .links .devices div.img
    {
        background-position: -700px 0;
    }
    .links .devices a:hover div
    {
        background-position: -900px 0;
    }
    .links .processes div.img
    {
        background-position: -700px -200px
    }
    .links .processes a:hover div
    {
        background-position: -900px -200px;
    }
    .links .performance div.img
    {
        background-position: -700px -400px
    }
    .links .performance a:hover div
    {
        background-position: -900px -400px;
    }
    .links a h1
    {
        font-size: 36px;
    }
}