body 
{
    background-color: #e8e8e8;       
}
article,header
{
    width: 75%;
    background-color: #fff;
    margin: 25px auto; 
    border: 1px solid #c6c6c6;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
header h1
{
    font-size: 3em;
}
article h1
{
    font-size: 2em;
}
article img,header img
{
    float: left;
}
p,a
{
    font-size: 1em;
}
img
{
    max-width: 10%;
    margin: 0.0051652892561983em;
}