a.team
{
    font-size: 24pt;
    padding: 10px;
    line-height: normal;
}

#teams .info, #teams .players
{
    padding: 10px;
}

.players
{
    width: 50%;
    margin-left: 10px;
    border-top: solid 1px #808080;
}
