a.team
{
    font-size: 24pt;
    padding: 10px;
    line-height: normal;
}

#teams .info, #teams .players
{
    padding: 10px;
}
#teams .info .info-details
{
    margin-left: 10px;
    margin-bottom: 10px;
}
.players
{
    width: 50%;
    margin-left: 10px;
    border-top: solid 1px #808080;
}

.player-detail {
    border: solid 3px #808080;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
    .player-detail .navbar-inner {
        height: 33px;
    }
.container.player {
    width: auto;
}
    .container.player .control-group {
        padding-left: 25px;
    }