<div>
    <div id="team-basic">
        <h1>{{= Name }}</h1>
        <div class="info">
            <div>
                Home Field: <strong>{{= HomeField }}</strong>
            </div>
            <div>
                Coach: <strong>{{= Coach.Name }}</strong>
            </div>
        </div>
        <div class="details">
            <div class="players container"></div>
        </div>
    </div>
	<div id="team-detail">
		<h1>{{= Name }}</h1>
        <div class="info">
            <div>
                Home Field: <strong>{{= HomeField }}</strong>
            </div>
            <div>
                Coach: <strong>{{= Coach.Name }}</strong>
                <div class="info-details">
                    p: {{= Coach.PhoneNumber }}
                    <br />
                    e: <a href="mailto:{{= Coach.Email }}">{{= Coach.Email }}</a>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="players container"></div>
        </div>
	</div>

    <div id="player-basic">
        <div class="span3">
            <span class="position">{{= Position }}</span>
        </div>
        <div class="span9">
            #{{= Number }}, {{= Name }}
        </div>
    </div>

    <div id="player-detail">
        <div class="navbar edit">
            <div class="navbar-inner">
                <div class="btn-group">
                    <a class="btn btn-mini btn-primary" href="#Tournaments/Players/{{= Id }}/edit">Edit</a>
                    <a class="btn btn-mini btn-danger delete">Delete</a>
                </div>
            </div>
        </div>
        <form class="form-horizontal">
            <div class="control-group">
                <span><i class="icon icon-user"></i> {{= Name }}</span>
            </div>
            <div class="control-group">
                <span><i class="icon">#</i> {{= Number }}</span>
            </div>
            <div class="control-group">
                <span><i class="icon icon-map-marker"></i> {{= Position }}</span>
            </div>
            <div class="control-group">
                <span><i class="icon icon-envelope"></i> <a href="mailto:{{= Email }}">{{= Email }}</a></span>
            </div>
            <div class="control-group">
                <span><i class="icon icon-bell"></i> {{= PhoneNumber }}</span>
            </div>
        </form>
    </div>

    <div id="player-edit">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="btn-group">
                    <a class="btn btn-mini btn-primary save">Save</a>
                    <a class="btn btn-mini" href="#Tournaments/Players/{{= Id }}">Cancel</a>
                </div>
            </div>
        </div>
        <form class="form-horizontal">
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon icon-user"></i> </span>
                    <input type="text" placeholder="Name" name="name" value="{{= Name }}" />
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on">#</span>
                    <input type="text" placeholder="Number" name="number" value="{{= Number }}" class="input-mini" />
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon icon-map-marker"></i> </span>
                    <select name="position" class="input-medium">
                        <option value="Goalkeeper">Goalkeeper</option>
                        <option value="Midfielder">Midfielder</option>
                        <option value="Forward">Forward</option>
                        <option value="Defense">Defense</option>
                        <option value="Striker">Striker</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon icon-envelope"></i> </span>
                    <input type="text" placeholder="Email Address" name="email" value="{{= Email }}" class="input-medium" />
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon icon-bell"></i> </span>
                    <input type="text" placeholder="Phone Number" name="phone" value="{{= PhoneNumber }}" class="input-medium" />
                </div>
            </div>
        </form>
    </div>
    <div id="reset-data-success-message">
        <div class="alert alert-success offset6 span6 fade in">
			<button type="button" class="close" data-dismiss="alert">x</button>
			Data has been reset.
        </div>
    </div>
</div>