<div>
	<div id="team-detail">
		<a class="team" href="#Tournaments/Teams/{{= Id }}" data-toggle="collapse" data-target="#team-{{= Id }} .details">
            {{= Name }}
            <span class="caret"></span>
        </a>
        <div class="details collapse">
            <div class="players"></div>
        </div>
	</div>

    <div id="player-detail-readonly">
        <div>{{= Name }}</div>
    </div>

    <div id="player-detail-editable">
        <div>
            <a href="#Tournaments/Players/{{= Id }}">Edit</a>
            {{= Name }}
        </div>
    </div>
</div>