<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AdventureWorksContext"
      connectionString="Data Source=(local); Integrated Security=False; User=TourneyUser; Password=resounding; Initial Catalog=AdventureWorksLT2008R2"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TournamentsContext"
      connectionString="Data Source=(local); Integrated Security=False; User=TourneyUser; Password=resounding; Initial Catalog=Tournaments"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace">
      <error statusCode="404" redirect="/Content/404.html" />
    </customErrors>
  </system.web>
</configuration>